examples/flows.json
[
    {
        "id": "matter-test-flow",
        "type": "tab",
        "label": "Matter Dynamic Test"
    },
    {
        "id": "d83255fdf62c8c61",
        "type": "matter-dynamic-bridge",
        "name": "Matter Bridge",
        "vendorId": "65521",
        "productId": "32768",
        "vendorName": "Node-RED",
        "productName": "Dynamic Matter Bridge",
        "networkInterface": "",
        "storageLocation": "",
        "port": "5540",
        "logLevel": "INFO"
    },
    {
        "id": "c1bec938dcb1936f",
        "type": "matter-device",
        "z": "matter-test-flow",
        "name": "light",
        "bridge": "d83255fdf62c8c61",
        "autoConfirm": true,
        "deviceConfig": "{\n  \"deviceType\": \"OnOffLightDevice\"\n}",
        "x": 550,
        "y": 240,
        "wires": [
            [
                "c20591babe754864"
            ],
            [
                "31dc12ee897b667f"
            ]
        ]
    },
    {
        "id": "dd36f24b5e3284ac",
        "type": "matter-device",
        "z": "matter-test-flow",
        "name": "Switch",
        "bridge": "d83255fdf62c8c61",
        "autoConfirm": false,
        "deviceConfig": "{\n  \"deviceType\": \"GenericSwitchDevice\",\n  \"initialState\": {\n    \"switch\": {\n      \"numberOfPositions\": 2,\n      \"currentPosition\": 0\n    }\n  }\n}",
        "x": 550,
        "y": 360,
        "wires": [
            [
                "c20591babe754864"
            ],
            [
                "31dc12ee897b667f"
            ]
        ]
    },
    {
        "id": "inject1",
        "type": "inject",
        "z": "matter-test-flow",
        "name": "Set battery low",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"powerSource\":{\"status\":1,\"order\":1,\"description\":\"Battery\",\"batChargeLevel\":0,\"batPercentRemaining\":10,\"batReplacementNeeded\":true,\"batReplaceability\":1}}",
        "payloadType": "json",
        "x": 220,
        "y": 180,
        "wires": [
            [
                "322e4c02fceb9a99"
            ]
        ]
    },
    {
        "id": "c20591babe754864",
        "type": "debug",
        "z": "matter-test-flow",
        "name": "state",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 240,
        "wires": []
    },
    {
        "id": "31dc12ee897b667f",
        "type": "debug",
        "z": "matter-test-flow",
        "name": "command",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 280,
        "wires": []
    },
    {
        "id": "c17a50605965b6db",
        "type": "inject",
        "z": "matter-test-flow",
        "name": "Set temperature",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"temperatureMeasurement\":{\"measuredValue\":950}}",
        "payloadType": "json",
        "x": 220,
        "y": 300,
        "wires": [
            [
                "4810c484daff42bc"
            ]
        ]
    },
    {
        "id": "4810c484daff42bc",
        "type": "matter-device",
        "z": "matter-test-flow",
        "name": "Temperature",
        "bridge": "d83255fdf62c8c61",
        "autoConfirm": false,
        "deviceConfig": "{\n  \"deviceType\": \"TemperatureSensorDevice\"\n}",
        "x": 530,
        "y": 300,
        "wires": [
            [
                "c20591babe754864"
            ],
            [
                "31dc12ee897b667f"
            ]
        ]
    },
    {
        "id": "3c1ec895ad39b191",
        "type": "matter-device",
        "z": "matter-test-flow",
        "name": "on/off switch",
        "bridge": "d83255fdf62c8c61",
        "autoConfirm": true,
        "deviceConfig": "{\n  \"deviceType\": \"OnOffPlugInUnitDevice\"\n}",
        "x": 530,
        "y": 420,
        "wires": [
            [
                "c20591babe754864"
            ],
            [
                "31dc12ee897b667f"
            ]
        ]
    },
    {
        "id": "322e4c02fceb9a99",
        "type": "matter-device",
        "z": "matter-test-flow",
        "name": "Thermostat with battery",
        "bridge": "d83255fdf62c8c61",
        "autoConfirm": true,
        "deviceConfig": "{\n  \"deviceType\": \"ThermostatDevice\",\n  \"additionalBehaviors\": [\n    \"PowerSourceServer\",\n    \"FanControlServer\",\n    \"RelativeHumidityMeasurementServer\"\n  ],\n  \"behaviorFeatures\": {\n    \"Thermostat\": [\n      \"Heating\",\n      \"Cooling\"\n    ],\n    \"PowerSource\": [\n      \"Battery\",\n      \"Replaceable\"\n    ],\n    \"FanControl\": [\n      \"MultiSpeed\"\n    ],\n    \"RelativeHumidityMeasurement\": [\n      \"Percentage\"\n    ]\n  },\n  \"initialState\": {\n    \"thermostat\": {\n      \"localTemperature\": 2000,\n      \"systemMode\": 4,\n      \"controlSequenceOfOperation\": 4,\n      \"minHeatSetpointLimit\": 1600,\n      \"maxHeatSetpointLimit\": 3200,\n      \"minCoolSetpointLimit\": 1600,\n      \"maxCoolSetpointLimit\": 3200,\n      \"occupiedHeatingSetpoint\": 2100,\n      \"occupiedCoolingSetpoint\": 2200,\n      \"absMinHeatSetpointLimit\": 1600,\n      \"absMaxHeatSetpointLimit\": 3200,\n      \"absMinCoolSetpointLimit\": 1600,\n      \"absMaxCoolSetpointLimit\": 3200\n    },\n    \"powerSource\": {\n      \"status\": 1,\n      \"order\": 1,\n      \"description\": \"Battery\",\n      \"batChargeLevel\": 0,\n      \"batPercentRemaining\": 200,\n      \"batReplacementNeeded\": false,\n      \"batReplaceability\": 1,\n      \"batReplacementDescription\": \"CR2032\",\n      \"batQuantity\": 1\n    },\n    \"fanControl\": {\n      \"fanModeSequence\": 5,\n      \"percentCurrent\": 0,\n      \"percentSetting\": 0,\n      \"speedMax\": 100,\n      \"speedCurrent\": 0\n    },\n    \"relativeHumidityMeasurement\": {\n      \"measuredValue\": 5000,\n      \"minMeasuredValue\": 0,\n      \"maxMeasuredValue\": 10000\n    }\n  }\n}",
        "x": 490,
        "y": 180,
        "wires": [
            [
                "c20591babe754864"
            ],
            [
                "31dc12ee897b667f"
            ]
        ]
    }
]